.headerContainer {
  max-width: var(--theme-max-width);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.headerStickToTop {
  position: sticky;
  z-index: 12;
  top: 0;
  background: #5ac5d1;
}

.headerContainer > .row {
  max-width: var(--theme-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--element-spacing-sm);
  padding-right: var(--element-spacing-sm);
}
