.searchInputMainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.searchInputInnerContainer {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchInputBox {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  font-size: var(--font-size-lg);
  padding: var(--element-spacing-sm);
  border: 1px solid var(--border-light-box-color-1);
  text-indent: 2rem;
  color: var(--border-light-box-color-2);
  box-shadow: 0px 0px 2px, inset 0px 0px 10px;
}

.searchInputBox::placeholder {
  text-indent: 2rem;
}

.searchButtonContainer {
  margin-left: 15px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  padding: var(--element-spacing-sm);
  cursor: pointer;
  font-size: var(--font-size-huge);
  background-color: white;
  transition: all 0.3s ease-in;
  box-shadow: 0px 0px 2px, inset 0px 0px 10px;
}


.searchButtonContainer:hover .searchButtonIcon {
  scale: 1;
}

.searchButtonIcon {
  scale: 0.95;
  font-size: var(--font-size-xxxl) !important;
  transition: all 0.3s ease-in;
  color: black;
  transition: all 1.5s linear;
}

@media (max-width: 768px) {
  .searchInputMainContainer {
    margin: var(--element-spacing-sm);
  }
}
