.logoContainer {
  padding: var(--element-spacing-md);
  padding-left: 0;
}
.logo {
  max-height: 64px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px black;
}
@media (max-width: 768px) {
  .logo {
    max-height: 48px;
  }
  .logoContainer {
    padding: var(--element-spacing-sm);
    padding-left: 0;
  }
}
