.accountIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 1rem;
  width: 5rem;
  border: 2px solid white;
  height: 5rem;
  border-radius: 50%;
  transition: all 0.3s ease-in;
}

.accountIconContainer:hover {
  background: white;
  color: white;
}

.accountIcon {
  scale: 0.8;
  font-size: var(--font-size-huge) !important;
  color: white;
  margin-right: 0;
  transition: all 0.3s ease-in;
}

.accountIconContainer:hover .accountIcon {
  scale: 0.9;
  color: #5ac5d1;
}

.accountIconTextContainer {
  display: none;
}

.accountIconTextTitle {
  font-size: var(--font-size-md);
  font-weight: bold;
}

.accountIconTextSubTitle {
  font-size: var(--font-size-md);
}

@media (max-width: 768px) {
  .accountIcon {
    font-size: var(--font-size-xxl) !important;
  }
}
@media (max-width: 500px){
  .accountIconContainer{
    width: 5rem;
    height: 5rem;
  }
}
