.productListSliderRoot {
  display: block;
}
.productListSliderBoxSizing {
  box-sizing: border-box;
}

.productListSliderArrowButtonMainContainer {
  display: flex;
  align-items: center;
  column-gap: 6px;
  padding: 3px;
  border-radius: 26px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 1px black;  
  background: #5ac5d1;
}

.productListSliderButtonContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productListSliderTitle {
  font-size: var(--font-size-xxxl);
  font-weight: 400;
}
@media (max-width: 768px) {
  .productListSliderTitle {
    font-size: var(--font-size-lg);
  }
}

