.logoContainer {
  padding: var(--element-spacing-md);
  padding-left: 0;
}
.logo {
  max-height: 60px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px;
}
@media (max-width: 768px) {
  .logo {
    max-height: 48px;
  }
  .logoContainer {
    padding: var(--element-spacing-sm);
    padding-left: 0;
  }
}
